<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zara Therapy Clinic</title>
    <link rel="shortcut icon"
        href="img/logo_navbar.png">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7d437f3a6f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body style="background-image: url(img/26807.jpg); background-position: center; background-size: contain;">
    <button onclick="topFunction()" id="gototop" title="Go to top"><h3><b>↑</b></h3></button>
    <script src="back-to-top-btn.js"></script><br><br>

     <!-- navbar start -->
     <nav class="navbar navbar-expand-lg navbar-light bg-light">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="navbar-brand" href="index.html"><div><img src="img/logo_navbar.png" alt=""  class="logo"></div></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="index.html"><b>Home</b> <span class="sr-only">(current)</span></a>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
              <a class="nav-link" href="about_us.html"><b> About Us</b></a>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <b> Services</b>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="chiropractic.html">Chiropractic</a>
                <a class="dropdown-item" href="osteopathy.html">Osteopathy</a>
                <a class="dropdown-item" href="physical-therapy.html">Physical Therapy</a>
                <a class="dropdown-item" href="work.html">Work Injuries & Car</a>
                <a class="dropdown-item" href="acupuncture.html">Acupuncture</a>
                <a class="dropdown-item" href="massage-therapy.html">Massage</a>
              </div>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <b> Products</b>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="helping-machine.html">Helping Machines</a>
                  <a class="dropdown-item" href="accessories.html">Accessories</a>
                  <a class="dropdown-item" href="lotion.html">Lotions</a>
                  <a class="dropdown-item" href="essential-oils.html">Essential Oils</a>
                </div>
              </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <b> News </b>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="health-blog.html">Health Blog</a>
                  
                </div>
              </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link" href="index.html #booking"><b>Booking</b></a>
              </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <li class="nav-item">
                <a class="nav-link" href="contact_us.html"><b> Contact Us </b></a>
              </li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             
          </ul>
        </div>
      </nav>
<!-- navbar end -->

    <div class="service-bg col-15" style="margin-top: 10px;">
        <img src="img/bg-service.jpg" alt="" class="col-sm-12 col-lg-12 col-md-12 ">
    </div>
    <div class="container ng-scope" ng-controller="myController0">

        <div>
          <p style="font-size: 40px; font-weight: bolder; text-align: center;"> ACUPUNCTURE</p>
          <hr class="seperator col-sm-10 col-md-8 col-lg-8 col-xl-12">
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <img class="col-lg-12 col-md-12 col-sm-12" src="img/Acupuncture1.png" alt="">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <img class="col-lg-12 col-md-12 col-sm-12" src="img/Acupuncture2.png" alt="">
            </div>
        </div>
<br><br>
        <div class="p row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div style="font-size: 20px;"><b>Please explain the science behind acupuncture.</b></div>
            </div>
            <!-- ngRepeat: x in myData --><div ng-repeat="x in myData" class="col-lg-12 col-md-12 col-sm-12 ng-scope">
                <div style="font-size: 20px;" class="ng-binding">Acupuncture works in a variety of ways which is why it’s good for so many health complaints. Acupuncture works via the connective tissue to send messages to the brain that alter brain chemistry. It can lower cortisol levels and increase serotonin, dopamine and norepinephrine levels to improve mental health. It can also increase your body’s natural pain killers such as endorphins and enkephalins to reduce chronic and acute pain. It’s also a natural anti-inflammatory and stimulates circulation to help loosen muscles and reduce chronic inflammation.</div>
            </div><!-- end ngRepeat: x in myData -->
        </div>
        <br>
        <div class="p row">
            <!-- ngRepeat: x in myData --><div ng-repeat="x in myData" class="col-lg-6 col-md-12 col-sm-12 ng-scope">
                <p style="font-size: 20px;"><b>Does it hurt?</b></p>
                <div style="font-size: 20px;" class="ng-binding">If you're not a fan of needles, acupuncture may not be for you. The process usually involves a practitioner inserting many (sometimes as many as a hundred or so) of small, fine needles into your skin. Most people say that it does not hurt since the needles are so thin, but you do have to stay very still when they are in your skin, which may be uncomfortable. </div>
                <div style="font-size: 20px;" class="ng-binding">If you're not a fan of needles, acupuncture may not be for you. The process usually involves a practitioner inserting many (sometimes as many as a hundred or so) of small, fine needles into your skin. Most people say that it does not hurt since the needles are so thin, but you do have to stay very still when they are in your skin, which may be uncomfortable. </div>
            </div><!-- end ngRepeat: x in myData -->
            <!-- ngRepeat: x in myData --><div ng-repeat="x in myData" class="col-lg-6 col-md-12 col-sm-12 ng-scope">
                <p style="font-size: 20px;"><b>What does science say?</b></p>
                <div style="font-size: 20px;" class="ng-binding">If you're not a fan of needles, acupuncture may not be for you. The process usually involves a practitioner inserting many (sometimes as many as a hundred or so) of small, fine needles into your skin. Most people say that it does not hurt since the needles are so thin, but you do have to stay very still when they are in your skin, which may be uncomfortable. </div>
                <div style="font-size: 20px;" class="ng-binding">Acupuncture has been studied for its effects on heart rate variability (HRV), which is a sign of overall health and stress resilience. Some studies have shown that it can help improve HRV, which is promising news for those that seek the treatment to help with stress, whether that is psychological or physical.</div>
            </div><!-- end ngRepeat: x in myData -->
        </div>
<br>
        <div>
            <img class="col-lg-12 col-md-12 col-sm-12" src="img/Acupuncture3.png" alt="">
        </div>
<br>
        <div class="p row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p style="font-size: 20px;"><b>What are the most common conditions your clients seek to treat?</b></p>
            </div>
            <!-- ngRepeat: x in myData --><div ng-repeat="x in myData" class="col-lg-12 col-md-12 col-sm-12 ng-scope">
                <div style="font-size: 20px;" class="ng-binding">Sleep disorders, stress, anxiety, depression, digestive issues, muscle or joint pain, menstrual issues, obesity, side effects from cancer medication, autoimmune disorders such as rheumatoid arthritis. More increasingly, we’ve been seeing people come to WTHN for preventative care, rather than coming to us when they have specific problems they’re looking to address.</div>
            </div><!-- end ngRepeat: x in myData -->
        </div>
<br>

        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12">
                <img class="col-lg-12 col-md-12 col-sm-12" src="img/Acupuncture4.png" alt="">
            </div>
            
            <div class="col-lg-5 col-md-12 col-sm-12">
                <img class="col-lg-12 col-md-12 col-sm-12" src="img/Acupuncture6.png" alt="">
            </div>
        </div>
    </div>
    <hr  class="seperator col-sm-10 col-md-8 col-lg-8 col-xl-12">
    <!-- ------------------------------------footer-------------------------------------- -->
<div class="container-fluid bg-white footer pb-5 wow fadeIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
    <div class="container-xxl">
        <div class="row g-5">
            <div class="col-lg-4 col-md-5">
                <h4 class="text-dark mb-4">Contact</h4>
                <b>Please feel free to contact us</b>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3" aria-hidden="true"></i>&nbsp;&nbsp; 294
                    Nam Ky Khoi Nghia Street, Ward 8,
                    District 3, Ho Chi Minh City</p>
                    
                <p class="mb-2"><i class="fa fa-phone-alt me-3" aria-hidden="true"></i>&nbsp;&nbsp; 1900.123.123</p>
                <p class="mb-2"><i class="fa fa-envelope me-3" aria-hidden="true"></i>&nbsp;&nbsp;zaratherapyclinic@gmail.com</p>
                
  
            </div>
            <div class="col-lg-2 col-md-5">
                <h4 class="text-dark mb-4">Products</h4>
                <a href="helping-machine.html" class="" style="text-decoration: none;">> Helping
                    Machines</a><br><br>
                <a href="accessories.html" class="" style="text-decoration: none;">> Accessories</a><br><br>
                <a href="lotion.html" class="" style="text-decoration: none;">> Lotions</a><br><br>
                <a href="essential-oils.html" class="" style="text-decoration: none;">> Essential 
                    oils</a><br>
  
            </div>
            <div class="col-lg-3 col-md-5">
                <h4 class="text-dark mb-4">Zara Therapy Clinic</h4>
               
                <p class="mb-1">Providing the best services and products
                    without using any medicines in Vietnam.</p>
                    <h6 class="text-dark">©Copyright 2023 - Zara Therapy Clinic</h6>
                
  
                
                <div id="current-time">Date: 9/10/2023 - Time: 12:43 AMundefined</div>
                   
                    
  
                </div>
  
            <div class="col-lg-3 col-md-7">
                <h4 class="text-dark mb-4">Address</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.273125983394!2d106.6836567!3d10.790381!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528d34a704ab7%3A0xe4e75cbec27ea20f!2zMjk0IMSQLiBOYW0gS-G7syBLaOG7n2kgTmdoxKlhLCBQaMaw4budbmcgOCwgUXXhuq1uIDMsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaA!5e0!3m2!1svi!2s!4v1683446992468!5m2!1svi!2s" width="270px" height="160px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        
  
    </div>
  </div>
  
  
  
  
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>
          AOS.init({
              offset: 250, // offset (in px) from the original trigger point
              duration: 600, // values from 0 to 3000, with step 50ms
          });
      </script>
      
</body>
</html>